& {
	max-width: 1350px;
	margin: 0 auto;
}

section {
	padding: 2.5em 0;
	border-bottom: 1px solid #ddd;
}

.card + img {
	border: 1px solid black;
	padding: 5px;
	border-radius: 4px;
	background-color: white;
}

.table {
	background-image: url('../img/table.jpg');
	padding: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    text-align: center;
}

//////////////////////////////////

%table {
	display: table;
	width: 100%;
}
%tableCell {
	display: table-cell;
}

